Source: prometheus-bandwidth-exporter
Section: admin
Priority: optional
Maintainer: Andre Masella <andre@masella.name>
Build-Depends: debhelper (>=9),autotools-dev, libpcap-dev, libmicrohttpd-dev
Standards-Version: 3.9.6
Homepage: http://github.com/apmasell/bandwidth_exporter

Package: prometheus-bandwidth-exporter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Export bandwith for Prometheus
 Export subnet-based traffic stats (bandwidth and packets) for consumption by
 Prometheus.
